bin/
debug/
Images/
obj/
packages/
release/
x64/
.vs/
desktop.ini
NuGet.exe
Thumbs.db
*.aps
*.bak
*.bi
*.bsc
*.cache
*.cdf
*.datasource
*.docstates
*.exe
*.exe.config
*.exp
*.idb
*.ilk
*.ipch
*.lastbuildstate
*.log
*.manifest
*.meta
*.metagen
*.obj
*.opensdf
*.pch
*.pdb
*.pgc
*.pgd
*.rep
*.res
*.resources
*.rsp
*.sbr
*.sdf
*.suo
*.tlb
*.tlh
*.tli
*.tlog
*.tmp
*.user
*.VC.db
*.VC.opendb
*.xdc
*.xml
*_manifest.rc

# SQL Server files
App_Data/*.mdf
App_Data/*.ldf
